#tittle
{
    background-color: #ccffbd;
}
#playlist
{
    background-color: #7eca9c;
}
#about
{
    background-color: #40394a;
}
#contact
{
    background-color: #1c1427;
}
#a1
{
    height: auto;
    margin:0%;
    padding: 5vh;
    text-align: center;
    font-family:cursive;
    color: aliceblue;
}
#a2
{
    
    text-align: center;
    align-content: center;
    border-style: solid;
    border-radius: 50%;
    

}
#a3
{
    height: auto;
    margin:0%;
    padding: 5vh;
    text-align: center;
    font-family:cursive;
    color: aliceblue;
}
#c1
{
    height: auto;
    margin:0%;
    padding: 5vh;
    text-align: center;
    font-family:cursive;
    color: aliceblue;
}
#main
{
    margin: 0%;
    padding: 0%;
}
