#about
{
    background-color: #40394a;
}
#contact
{
    background-color: #1c1427;
}
#a1
{
    height: auto;
    margin:0%;
    padding: 5vh;
    text-align: center;
    font-family:cursive;
    color: aliceblue;
}

#a3
{
    height: auto;
    margin:0%;
    padding: 5vh;
    text-align: center;
    font-family:cursive;
    color: aliceblue;
}
#c1
{
    height: auto;
    margin:0%;
    padding: 5vh;
    text-align: center;
    font-family:cursive;
    color: aliceblue;
}
#main
{
    margin: 0%;
    padding: 0%;
}
